autom4te.cache
log
config.h
configure
depcomp
*.swp
*~
*.o
*.so
*.a
*.mod
*.pyc
*.backup
aclocal.m4
Makefile
Makeconf
test-driver
missing
a.out
stamp-h1
.deps
tmp
CMakeFiles
CMakeCache.txt
cmake_install.cmake

.*.backup

CTestTestfile.cmake
FC.h
FCMangle.h
.settings
.cproject
elmerf90
__pycache__
/site
