<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Lesion Component - Go-Smart Simulation Framework Documentation</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Go-Smart Simulation Framework Documentation</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../..">Home</a>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Core <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        <li >
                            <a href="../../go-smart-launcher/">go-smart-launcher</a>
                        </li>
                    
                        <li >
                            <a href="../../xml/">GSSF XML Format</a>
                        </li>
                    
                        <li >
                            <a href="../../family/">Family in GSSA</a>
                        </li>
                    
                        <li >
                            <a href="../../logging/">Logging &amp; Errors</a>
                        </li>
                    
                        <li >
                            <a href="../../constants/">Constants</a>
                        </li>
                    
                        <li >
                            <a href="../../regions/">Regions &amp; Geometry</a>
                        </li>
                    
                        <li >
                            <a href="../../utilities/">Utilities</a>
                        </li>
                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        <li >
                            <a href="../needle-library/">Needle Library Component</a>
                        </li>
                    
                        <li >
                            <a href="../mesher/">Meshing Components</a>
                        </li>
                    
                        <li >
                            <a href="../optimizer/">Optimizer Component</a>
                        </li>
                    
                        <li >
                            <a href="../elmergrid/">ElmerGrid Component</a>
                        </li>
                    
                        <li >
                            <a href="../elmer/">ElmerSolver Component</a>
                        </li>
                    
                        <li class="active">
                            <a href="./">Lesion Component</a>
                        </li>
                    
                        <li >
                            <a href="../validation/">Validation Component</a>
                        </li>
                    
                    </ul>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        <li >
                            <a href="../../tools/mesher-cgal/">CGAL Meshing (mesher-cgal)</a>
                        </li>
                    
                        <li >
                            <a href="../../tools/numa-elmer/">Extensions to Elmer</a>
                        </li>
                    
                    </ul>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a rel="next" href="../elmer/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../validation/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#lesion-extracting-gssf-component">Lesion-Extracting GSSF Component</a></li>
        
            <li><a href="#configuration">Configuration</a></li>
        
            <li><a href="#go-smart-lesion">go-smart-lesion</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="lesion-extracting-gssf-component">Lesion-Extracting GSSF Component</h1>
<p>This component wraps a separate tool, <a href="#go-smart-lesion">go-smart-lesion</a>, which uses
<a href="http://www.vtk.org">VTK</a> routines to extract a lesion surface. More generally,
this component extracts an isosurface based on certain criteria.</p>
<h2 id="configuration">Configuration</h2>
<p>When running <em>go-smart-lesion</em> as part of the GSSF workflow, the Python component can be configured as follows:</p>
<pre><code class="xml">    &lt;lesion field=&quot;FIELD&quot;
            [ threshold_lower=&quot;THRESHOLDLOWER&quot; ] [ threshold_upper=&quot;THRESHOLDUPPER&quot; ] 
            [ selection=&quot;(most-recent|largest-time):most-recent&quot; ]
            [ connectivity=&quot;BOOL:false&quot; ]
            [ scaling=&quot;FLOAT&quot; ] /&gt;
</code></pre>

<p>If <code>scaling</code> is omitted, the inverse of
<a href="../../regions/#geometry"><code>simulationscaling</code></a> is used. This returns the simulation
to the original, input length scale. If <code>connectivity</code> is <code>true</code>, the largest
component only will be extracted. To choose a specific simulation timeslice for
input, the <code>selection</code> attribute can be set to either <code>most-recent</code>, for the
most recently modified file in the <a href="../elmer/">Elmer</a> output directory, or
<code>largest-time</code> to choose the timeslice with the highest timestep suffix. On a
clean run, these should pick the same output VTU file. The <code>THRESHOLDUPPER</code> and
<code>THRESHOLDLOWER</code> values, if provided, will be used in a VTK <code>ThresholdBetween</code>
call. If only one is provided, <code>ThresholdUpper</code> or <code>ThresholdLower</code> will be
used. Note that this is the reverse of the VTK definition - we treat
<code>THRESHOLDUPPER</code> as the maximum accepted value within the lesion, and
<code>THRESHOLDLOWER</code> as the minimum. <code>FIELD</code> should be a field present in the VTU
file, which should correspond to variables output from the SIF template. Note
that Elmer seems to lowercase variable names before output, so <code>FIELD</code> should
also be lowercase even if the SIF template uses mixed/uppercase.</p>
<h2 id="go-smart-lesion">go-smart-lesion</h2>
<p><em>go-smart-lesion</em> may be run standalone from the shell. If so, the syntax is as follows:</p>
<pre><code>go-smart-lesion OPTIONS
</code></pre>
<h3 id="optional-arguments">Optional arguments</h3>
<table>
<thead>
<tr>
<th>Argument</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>-h [ --help ]</code></td>
<td>produce help message</td>
</tr>
<tr>
<td><code>-t [ --threshold-lower ] arg</code></td>
<td>threshold for chosen variable (remove cells with values below this limit)</td>
</tr>
<tr>
<td><code>-T [ --threshold-upper ] arg</code></td>
<td>threshold for chosen variable (remove cells with values above this limit)</td>
</tr>
<tr>
<td><code>-S [ --scale ] arg (=1)</code></td>
<td>pre-scaling of results; default 1</td>
</tr>
<tr>
<td><code>-f [ --field ] arg</code></td>
<td>field to threshold on</td>
</tr>
<tr>
<td><code>-p [ --parallel ]</code></td>
<td>assume input data is PVTU not VTU</td>
</tr>
<tr>
<td><code>-x [ --threshold ]</code></td>
<td>switch from using an IsoVolume to using a Threshold</td>
</tr>
<tr>
<td><code>-c [ --connectivity ]</code></td>
<td>extract largest connected component of thresholded surface</td>
</tr>
<tr>
<td><code>-s [ --subdivide ]</code></td>
<td>subdivide before thresholding</td>
</tr>
<tr>
<td><code>-i [ --smoothing-iterations ] arg (=0)</code></td>
<td>number of iterations in smoother (0 to skip)</td>
</tr>
<tr>
<td><code>-e [ --exclude-subdomain ] arg (=-1)</code></td>
<td>exclude subdomain of given index</td>
</tr>
<tr>
<td><code>-i [ --input ] arg</code></td>
<td>input volume mesh file</td>
</tr>
<tr>
<td><code>-a [ --analysis ] arg</code></td>
<td>analysis output file</td>
</tr>
<tr>
<td><code>-o [ --output ] arg</code></td>
<td>output file</td>
</tr>
<tr>
<td><code>-r [ --retain-subdomain-boundaries ]</code></td>
<td>retain all internal inter-zone boundary facets</td>
</tr>
<tr>
<td><code>-g [ --geometry-filter ]</code></td>
<td>use geometry filter instead of vtkDataSetSurfaceFilter to extract surface</td>
</tr>
</tbody>
</table></div>
        </div>

        <footer class="col-md-12">
            <hr>
            
            <center>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</center>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script src="../../js/base.js"></script>
    </body>
</html>